## This notebook handles loading data and training the model
### Import Dependencies

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load Dataset
filename = "Training Data/Sentiment Analysis Dataset.csv"
data = pd.read_csv(filename, error_bad_lines=False)

# peak data
data.head()

b'Skipping line 8836: expected 4 fields, saw 5\n'
b'Skipping line 535882: expected 4 fields, saw 7\n'

,ItemID,Sentiment,SentimentSource,SentimentText
0,1,0,Sentiment140,is so sad for my APL frie...
1,2,0,Sentiment140,I missed the New Moon trail...
2,3,1,Sentiment140,omg its already 7:30 :O
3,4,0,Sentiment140,.. Omgaga. Im sooo im gunna CRy. I'...
4,5,0,Sentiment140,i think mi bf is cheating on me!!! ...

In [3]:
# look at size of data
data.shape

(1578612, 4)

In [4]:
data.drop(['SentimentSource'], axis=1)

          ItemID  Sentiment                                      SentimentText
0              1          0                       is so sad for my APL frie...
1              2          0                     I missed the New Moon trail...
2              3          1                            omg its already 7:30 :O
3              4          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4              5          0           i think mi bf is cheating on me!!!   ...
...          ...        ...                                                ...
1578607  1578623          1               Zzzzzz.... Finally! Night tweeters!
1578608  1578624          1                        Zzzzzzz, sleep well people
1578609  1578625          0            ZzzZzZzzzZ... wait no I have homework.
1578610  1578626          0      ZzZzzzZZZZzzz meh, what am I doing up again?
1578611  1578627          0                       Zzzzzzzzzzzzzzzzzzz, I wish

[1578612 rows x 3 columns]